@model IEnumerable<Teams>


<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-teamNameId="">Home</a>

@foreach (var x in Model)
{

    <a class="btn btn-block @(x.TeamName == (string)ViewData["SelectedType"] ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home" asp-route-teamNameId="@x.TeamId"
       asp-route-teamName="@x.TeamName">
        @x.TeamName
    </a>

}